@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Literature <span><img style="width:60px; height:auto;" src="/Images/CatAnd.png" /></span> Lounge </h1>
</div>

<h2>TO DO</h2>
<li>Import/Export CSV</li>
<li>Add Release Date to Books</li>
<li>Column Chooser</li>
<li>Make Cover List View</li>
<li>Filters, Search box, Archive</li>
<li>Series and Genres</li>
<li>Favorites View</li>
<li>Add pages for all other media types: CDs, DvDs, Games, Records</li>

<h2>Bugs</h2>
<li>No Width Spaces are not accounted for in ISBN</li>