@model Genre
@{
    ViewData["Title"] = "Delete Genre";
}
<div style=" display:flex; justify-content:center;">
    <form method="post" style="width: 50%">
      <fieldset class="border p-3 mt-2">
        <h1 class="text-primary">Delete Genre</h1>
          <input style="display:none" asp-for="Id" type="text" class="form-control">
          <input style="display:none" asp-for="Name" type="text" class="form-control">
        <div>
          <label asp-for="Name"></label>
          <input asp-for="Name" disabled="" type="text" class="form-control">
        </div>
        </fieldset>
        <fieldset >
        <button asp-controller="Genre" asp-action="Delete" type="submit" 
        class="btn btn-danger mt-2"><i class="bi bi-trash3"></i>Delete Genre</button>
        <a class="btn btn-danger mt-2" asp-controller="Genre" asp-action="Index">
            <i class="bi bi-x-circle"></i> Cancel</a>
      </fieldset>
    </form>
</div>
