@model ISBNBookCreateViewModel
@{
    ViewData["Title"] = "Create Book";
}
<div style=" display:flex; justify-content:center;">
    <form method="post" style="width: 50%">
      <fieldset class="border p-3 mt-2">
        <h1 class="text-primary">Create Book</h1>
        <div>
          
          <label asp-for="ISBN">ISBN Lookup</label>
          <span asp-validation-for="ISBN" class="text-danger"></span> 
          <input asp-for="ISBN" type="text" class="form-control" autofocus="autofocus" rows="1">

        </div>
        </fieldset>
        <fieldset >
        <input asp-controller="Book" asp-action="CreateFromISBN" class="btn btn-primary mt-2" value="Create" type="submit">

        <a class="btn btn-danger mt-2" asp-controller="Book" asp-action="Index">
            <i class="bi bi-x-circle"></i> Cancel</a>
      </fieldset>
    </form>
</div>
