@model BookEditViewModel
@{
    ViewData["Title"] = "Create Book";
}
@section Scripts
{
        <script src="~/js/chosen.jquery.js"></script>
        <script type="text/javascript">
                $(".multiple-select-list").chosen({ width: '100%' });
        </script>
}
<div style=" display:flex; justify-content:center;">
    <form method="post" style="width: 50%">
      <fieldset class="border p-3 mt-2">
        <h1 class="text-primary">Create Book</h1>
        <div>
            <label asp-for="book.Title"></label>
            <span asp-validation-for="book.Title" class="text-danger"></span>
            <input asp-for="book.Title" type="text" class="form-control">
                    
            <label asp-for="book.Subtitle"></label>
            <span asp-validation-for="book.Subtitle" class="text-danger"></span>          
            <input asp-for="book.Subtitle" type="text" class="form-control">

            <label asp-for="book.Author"></label>
            <span asp-validation-for="book.Author" class="text-danger"></span>
            <textarea asp-for="book.Author" class="form-control" rows="1"></textarea>

            <label asp-for="book.Description"></label>
            <span asp-validation-for="book.Description" class="text-danger"></span>
            <textarea asp-for="book.Description" class="form-control" rows="1"></textarea>

            <label asp-for="book.ISBN"></label>
            <span asp-validation-for="book.ISBN" class="text-danger"></span>
            <textarea asp-for="book.ISBN" class="form-control" rows="1"></textarea>

            <label asp-for="book.Publisher"></label>
            <span asp-validation-for="book.Publisher" class="text-danger"></span>
            <input asp-for="book.Publisher" type="text" class="form-control">
            
            <label asp-for="book.PublishedDate"></label>
            <span asp-validation-for="book.PublishedDate" class="text-danger"></span>
            <input asp-for="book.PublishedDate" type="date" class="form-control" rows="1">

            <label asp-for="book.Notes"></label>
            <span asp-validation-for="book.Notes" class="text-danger"></span>
            <textarea asp-for="book.Notes" class="form-control" rows="1"></textarea>

            <div >
                <label asp-for="genreName">Genres</label>
                <select multiple class="multiple-select-list form-control" asp-for="genreNames">
                <option value=""></option>
                        @foreach (var _genre in Model.Genres)
                        {
                                <option>@_genre.Name</option>
                        }
                </select>
            </div>

          <label asp-for="book.ChapterLength"></label>
          <span asp-validation-for="book.ChapterLength" class="text-danger"></span>
          <select asp-for="book.ChapterLength" class="form-select">
            <option>Medium</option>
            <option>Unknown/Other</option>
            <option>Short</option>
            <option>Long</option>
          </select>

          <label asp-for="book.ReadStatus"></label>
          <span asp-validation-for="book.ReadStatus" class="text-danger"></span>
          <select asp-for="book.ReadStatus" class="form-select">
              <option>Read</option>
              <option>Re-Read</option>
              <option>Unread</option>
          </select>

          <label asp-for="book.MediaType"></label>
          <span asp-validation-for="book.MediaType" class="text-danger"></span>
          <select asp-for="book.MediaType" class="form-select">
            <option>Paperback</option>
            <option>Hardcover</option>
            <option>Kindle</option>
          </select>

          <label asp-for="book.SignatureType"></label>
          <span asp-validation-for="book.SignatureType" class="text-danger"></span>
          <select asp-for="book.SignatureType" class="form-select">
            <option>None</option>
            <option>Sticker</option>
            <option>Original</option>
            <option>Signature Plate</option>
          </select>

          <label asp-for="book.CheckedOutTo">Checked Out To</label>
          <span asp-validation-for="book.CheckedOutTo" class="text-danger"></span>
          <input asp-for="book.CheckedOutTo" type="text" class="form-control">

          <label for="isAnnotated">Annotated?</label>
          <span asp-validation-for="book.isAnnotated" class="text-danger"></span>
          <input id="isAnnotated" asp-for="book.isAnnotated" class="form-check-input" type="checkbox" rows="1">
         
          <label for="isCheckedOut">Checked Out?</label>
          <span asp-validation-for="book.isCheckedOut" class="text-danger"></span>
          <input id="isCheckedOut" asp-for="book.isCheckedOut" class="form-check-input" type="checkbox" rows="1">
          
          <label for="isSigned">Signed?</label>
          <span asp-validation-for="book.isSigned" class="text-danger"></span>
          <input id="isSigned" asp-for="book.isSigned" class="form-check-input" type="checkbox" rows="1">
          
          <label for="isStamped">Embossed?</label>
          <span asp-validation-for="book.isStamped" class="text-danger"></span>
          <input id="isStamped" asp-for="book.isStamped" class="form-check-input" type="checkbox" rows="1">

          <label for="isFavorite">Favorite?</label>
          <span asp-validation-for="book.isFavorite" class="text-danger"></span>
          <input id="isFavorite" asp-for="book.isFavorite" class="form-check-input" type="checkbox" rows="1">
          

        </div>
        </fieldset>
        <fieldset >
        <button asp-controller="Book" asp-action="Create" type="submit" 
        class="btn btn-primary mt-2"><i class="bi bi-check2"></i> Create</button>
        <a class="btn btn-danger mt-2" asp-controller="Book" asp-action="Index">
            <i class="bi bi-x-circle"></i> Cancel</a>
      </fieldset>
    </form>
</div>
