@model BookEditViewModel 

@{
    ViewData["Title"] = "Edit Book";
}

@section Scripts
{
    <script src="~/js/chosen.jquery.js"></script>
    <script type="text/javascript">
        $(".multiple-select-list").chosen();
    </script>
}
<div style=" display:flex; justify-content:center;">
    <form method="post" style="width: 50%">
      <fieldset class="border p-3 mt-2">
        <h1 class="text-primary">Edit Book</h1>
        <div>
          <label asp-for="book.Title"></label>
          <span asp-validation-for="book.Title" class="text-danger"></span>
          <input asp-for="book.Title" type="text" class="form-control">

          <label asp-for="book.Author"></label>
          <span asp-validation-for="book.Author" class="text-danger"></span>
          <textarea asp-for="book.Author" class="form-control" rows="1"></textarea>
          
          <label asp-for="book.ISBN"></label>
          <span asp-validation-for="book.ISBN" class="text-danger"></span>
          <textarea asp-for="book.ISBN" class="form-control" rows="1"></textarea>

          <label asp-for="book.Notes"></label>
          <span asp-validation-for="book.Notes" class="text-danger"></span>
          <textarea asp-for="book.Notes" class="form-control" rows="1"></textarea>
          
          <div>
              <label asp-for="genreName">Genres</label>
                <select multiple class="multiple-select-list form-control" asp-for="genreNames">
                <option value=""></option>
                @foreach(var _genre in Model.Genres)
                  {
                    <option>@_genre.Name</option>
                  }
              </select>
          </div>

          <label asp-for="book.ChapterLength"></label>
          <span asp-validation-for="book.ChapterLength" class="text-danger"></span>
          <select asp-for="book.ChapterLength" class="form-select">
            <option>Medium</option>
            <option>Unknown/Other</option>
            <option>Short</option>
            <option>Long</option>
          </select>

          <label asp-for="book.ReadStatus"></label>
          <span asp-validation-for="book.ReadStatus" class="text-danger"></span>
          <select asp-for="book.ReadStatus" class="form-select">
              <option>Read</option>
              <option>Re-Read</option>
              <option>Unread</option>
          </select>

          <label asp-for="book.MediaType"></label>
          <span asp-validation-for="book.MediaType" class="text-danger"></span>
          <select asp-for="book.MediaType" class="form-select">
            <option>Paperback</option>
            <option>Hardcover</option>
            <option>Kindle</option>
          </select>

          <label asp-for="book.SignatureType"></label>
          <span asp-validation-for="book.SignatureType" class="text-danger"></span>
          <select asp-for="book.SignatureType" class="form-select">
            <option>None</option>
            <option>Sticker</option>
            <option>Original</option>
            <option>Signature Plate</option>
          </select>

          <label asp-for="book.CheckedOutTo">Checked Out To</label>
          <span asp-validation-for="book.CheckedOutTo" class="text-danger"></span>
          <input asp-for="book.CheckedOutTo" type="text" class="form-control">

          <label asp-for="book.Rating"></label>
          <span asp-validation-for="book.Rating" class="text-danger"></span>
          <textarea asp-for="book.Rating" class="form-control" rows="1"></textarea>

          <label for="book.isAnnotated">Annotated?</label>
          <span asp-validation-for="book.isAnnotated" class="text-danger"></span>
          <input id="book.isAnnotated" asp-for="book.isAnnotated" class="form-check-input" type="checkbox" rows="1">
         
          <label for="book.isCheckedOut">Checked Out?</label>
          <span asp-validation-for="book.isCheckedOut" class="text-danger"></span>
          <input id="book.isCheckedOut" asp-for="book.isCheckedOut" class="form-check-input" type="checkbox" rows="1">
          
          <label for="book.isSigned">Signed?</label>
          <span asp-validation-for="book.isSigned" class="text-danger"></span>
          <input id="book.isSigned" asp-for="book.isSigned" class="form-check-input" type="checkbox" rows="1">
          
          <label for="book.isStamped">Embossed?</label>
          <span asp-validation-for="book.isStamped" class="text-danger"></span>
          <input id="book.isStamped" asp-for="book.isStamped" class="form-check-input" type="checkbox" rows="1">
          
          <label for="book.isFavorite">Favorite?</label>
          <span asp-validation-for="book.isFavorite" class="text-danger"></span>
          <input id="book.isFavorite" asp-for="book.isFavorite" class="form-check-input" type="checkbox" rows="1">
          

          <input id="CoverLink" style="display:none;" asp-for="book.CoverLink" placeholder="@Model.book.CoverLink" />
          <input id="BookId" style="display:none;" asp-for="book.Id" placeholder="@Model.book.Id" />

        </div>
        </fieldset>
        <fieldset >
        <button asp-action="Edit" type="submit" 
        class="btn btn-warning mt-2"><i class="bi bi-pencil"></i>Commit Edits</button>
        <a class="btn btn-primary mt-2" asp-controller="Book" asp-action="DetailedView" asp-route-id="@Model.book.Id">
            <i class="bi bi-x-circle"></i> Cancel</a>
      </fieldset>
    </form>
</div>
