@model Book
@{
    ViewData["Title"] = "Edit Book";
}
<div style=" display:flex; justify-content:center;">
    <form method="post" style="width: 50%">
      <fieldset class="border p-3 mt-2">
        <h1 class="text-primary">Edit Book</h1>
        <div>
          <label asp-for="Title"></label>
          <span asp-validation-for="Title" class="text-danger"></span>
          <input asp-for="Title" type="text" class="form-control">

          <label asp-for="Author"></label>
          <span asp-validation-for="Author" class="text-danger"></span>
          <textarea asp-for="Author" class="form-control" rows="1"></textarea>
          
          <label asp-for="ISBN"></label>
          <span asp-validation-for="ISBN" class="text-danger"></span>
          <textarea asp-for="ISBN" class="form-control" rows="1"></textarea>

          <label asp-for="Notes"></label>
          <span asp-validation-for="Notes" class="text-danger"></span>
          <textarea asp-for="Notes" class="form-control" rows="1"></textarea>

          <label asp-for="ChapterLength"></label>
          <span asp-validation-for="ChapterLength" class="text-danger"></span>
          <select asp-for="ChapterLength" class="form-select">
            <option>Unknown/Other</option>
            <option>Short</option>
            <option>Medium</option>
            <option>Long</option>
          </select>

          <label asp-for="ReadStatus"></label>
          <span asp-validation-for="ReadStatus" class="text-danger"></span>
          <select asp-for="ReadStatus" class="form-select">
              <option>Unread</option>
              <option>Read</option>
          </select>

          <label asp-for="MediaType"></label>
          <span asp-validation-for="MediaType" class="text-danger"></span>
          <select asp-for="MediaType" class="form-select">
            <option>Hardcover</option>
            <option>Paperback</option>
            <option>Kindle</option>
          </select>

          <label asp-for="Rating"></label>
          <span asp-validation-for="Rating" class="text-danger"></span>
          <textarea asp-for="Rating" class="form-control" rows="1"></textarea>

          <label for="isAnnotated">Annotated?</label>
          <span asp-validation-for="isAnnotated" class="text-danger"></span>
          <input id="isAnnotated" asp-for="isAnnotated" class="form-check-input" type="checkbox" rows="1">
         
          <label for="isCheckedOut">Checked Out?</label>
          <span asp-validation-for="isCheckedOut" class="text-danger"></span>
          <input id="isCheckedOut" asp-for="isCheckedOut" class="form-check-input" type="checkbox" rows="1">
          
          <label for="isSigned">Signed?</label>
          <span asp-validation-for="isSigned" class="text-danger"></span>
          <input id="isSigned" asp-for="isSigned" class="form-check-input" type="checkbox" rows="1">
          
          <label for="isStamped">Stamped?</label>
          <span asp-validation-for="isStamped" class="text-danger"></span>
          <input id="isStamped" asp-for="isStamped" class="form-check-input" type="checkbox" rows="1">
          
          <input id="CoverLink" style="display:none;" asp-for="CoverLink" placeholder="@Model.CoverLink" />

        </div>
        </fieldset>
        <fieldset >
        <button asp-action="Edit" type="submit" 
        class="btn btn-warning mt-2"><i class="bi bi-pencil"></i>Commit Edits</button>
        <a class="btn btn-primary mt-2" asp-controller="Book" asp-action="DetailedView" asp-route-id="@Model.Id">
            <i class="bi bi-x-circle"></i> Cancel</a>
      </fieldset>
    </form>
</div>
